@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Abril Fatface';
  color: 'red'
}

body {
  user-select: none;
  font-family: 'Abril Fatface'
}
