@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Abril Fatface';
}

#mobile_message {
  color: white;
  margin: 20%;
  
  text-align: center;

}

body {
  user-select: none;
  font-family: 'Abril Fatface';
  background-color: black;
  align-content: center;
}
